<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
      <img style="max-width:30px; margin-top: -7px;" src="/assets/images/orangestor64px.png">
      OrangeStor <small>(Beta)</small>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
      <li ng-class='{active: isActive("/login")}'>
        <a href="/login">Login</a>
      </li>
      <li ng-class='{active: isActive("/signup")}'>
        <a href="/signup">Signup</a>
      </li>
      </ul>
    </div>
  </div>
</div>
