<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit">
  <div class="container">
    <h1>Large attachments for Zendesk tickets.</h1>
    <p class="lead">Zendesk and Dropbox integration - Allows your customers to attach large files to Zendesk tickets</p>
  </div>
</header>
<div ng-include="'components/footer.html'"></div>
