<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarLoggedinCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">
      <img style="max-width:30px; margin-top: -7px;" src="/assets/images/orangestor64px.png">
      OrangeStor <small>(Beta)</small>
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-class='{active: isActive("/home")}'>
          <a href="/home">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
      <li>
        <a href="/logout" ng-click="logout()">Logout</a>
      </li>
      </ul>
    </div>
  </div>
</div>
