<div ng-include="'components/navbarloggedin/navbarloggedin.html'"></div>

<div class="container">
	<h2>Install Steps</h2>
	<hr>
	<h3>Step 1</h3>
	<p>Authenticate OrangeStor Dropbox App <button class="btn btn-primary" ng-click="dbauth()"> Authenticate </button> <span ng-show="profile.dbauthenticated"><strong>(Authentication done!)</strong></span></p>
	<h3>Step 2</h3>
	<p>Install OrangeStor app from Zendesk App marketplace and configure token: 
		<strong ng-show="profile.dbauthenticated">{{profile.agenttoken}}</strong>
		<i ng-hide="profile.dbauthenticated">Oops complete step-1 first</i>
	</p>
	<h3>Step 3</h3>
	<ul>
		<li>Login to Zendesk as Administrator and click "Help Center"</li>
		<li>Click "Customize design"</li>
		<li>Click Edit theme</li>
		<li>From the dropdown menu choose "Request page"</li>
		<li>In &ltsection class="side-column"&gt put the following iframe code:
			<pre ng-show="profile.dbauthenticated">&ltiframe style="width:100%;margin-top:20px" src="https://www.orangestor.com/iframe?user={{profile.usertoken}}&ticketid={{id}}"&gt&lt/iframe&gt</pre>

			<strong>For example:</strong>

			<pre ng-show="profile.dbauthenticated">
&ltsection class="side-column"&gt
  {{request_details}}
  {{submit_request}}
  &ltiframe style="width:100%;margin-top:20px" src="https://www.orangestor.com/iframe?user={{profile.usertoken}}&ticketid={{id}}"&gt&lt/iframe&gt
&lt/section&gt
			</pre>

			<pre ng-hide="profile.dbauthenticated">oops ... please complete step-1</pre>
		</li>
		<li>Click "Save"</li>
		<li>Click "Publish changes"</li>
	</ul>
	Now your customers will see a box on the right side of the ticket-details to upload large files.
</div>

<div ng-include="'components/footer.html'"></div>